
section.announcement

	text-align center
	background #201f23
	color #c6c6c6

	span
		margin-right 1em
		text-transform uppercase
		font-size 0.8em
		opacity 0.5

	a
		color #fff
		padding 0
		&:hover
			box-shadow 0 1px 0 0 #fff
