
section#features
	.container

		> div
			width 50%
			margin-top 6em
			position relative

			img
				position absolute
				left 150%
				top 50%
				transform translate(-50%,-50%)

			&:nth-child(even)
				margin-left auto

				img
					left 0
					transform translate(-150%,-50%)


