

section

	position relative
	padding 3em 0 6em 0

	&.thin
		padding 1em 0

	.container
		width 80%

	h2
		font-size 1em
		letter-spacing 2px
		font-weight 200
		text-transform uppercase
		text-align center
		margin 2em 0 6em 0
		&:before, &:after
			content '' 
			width 5em
			height 1px
			background currentcolor
			opacity 0.5
			vertical-align middle
			margin 0 1em
			display inline-block


		
	h3
		font-size 1.3em

	p
		font-size 1em



section.leftright
	.container

		> div
			width 50%
			margin-top 9em
			position relative

			img
				position absolute
				left 125%
				top 50%
				transform translate(-50%,-50%)

			&:nth-child(even)
				margin-left auto

				img
					left 0
					transform translate(-150%,-50%)

	
