

section

	padding 3em 0 6em 0

	&.thin
		padding 1em 0

	.container
		width 80%

	h2
		font-size 1em
		letter-spacing 2px
		font-weight 200
		text-transform uppercase
		text-align center
		margin 2em 0 6em 0
		&:before, &:after
			content '' 
			width 5em
			height 1px
			background currentcolor
			opacity 0.5
			vertical-align middle
			margin 0 1em
			display inline-block

		
	h3
		font-size 1.3em

	p
		font-size 1em

	
